<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="https://2.bp.blogspot.com/-gxwdpY-WLt4/WZr4sfQI7TI/AAAAAAAABKY/x2nE-sEp9tUWR9Urncq_aBx3fH8v-jxeQCLcBGAs/s1600/cinefondo1.jpg" alt="fondo chingon">

<button href="/movies" >puchale</button>